<div class="comment_form_answer">
  <form id="comment_form" action="/comment/<%= question.id %>/<%= answer.id %>" method="post">
  	<input id="comment_text" name="comment_text" placeholder="Add a comment..."></input>
  	<input type="submit" class="button" value="Comment"></input>
  </form>
</div>

