<h2> Login </h2>
<% if @error %>
  <p style="color:red"><%= @error %></p>
<% end %>

<div class="login-container">
  <form action="/login" method="post">
    <label for="email"></label>
    <input type="text" name="email" placeholder="Email">
    <br>
    <label for="password"></label>
    <input type="password" name="password" value="" placeholder="Password">
    <br>
    <input type="submit" value="Login">
  </form>
</div>
